.wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.screen {
  border: 1px solid #f2f2f2;
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding: 10px;
  font-size: 30px;
  justify-content: space-around;
  flex-direction: column;
}

.button-box {
  border: 1px solid #f2f2f2;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
}

.button {
  width: 100%;
  height: 100%;
}

.prevCalculate {
  font-size: 20px;
  color: darkgrey;
}
